@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
.container{
  font-family: Inter, sans-serif;
  
}
body{
  background-color: #282D35;
}

/*---------------------Navbar------------------------*/
.nav{
  display: flex;
  flex-direction: row;
  background-color: #11222A;
  justify-content: center;
  align-items: center;
  padding: 30px 25px;
  height: 60px;
}

.nav-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  color: #61dafb;
}

.nav-left img{
  width: 60px;
  margin-right: 10px;
}

.nav-left h3{
  font-weight: 700;
  font-size: 22px;
}

.nav-right{
  color: #deebf8;
  font-weight: 600;
}

/*---------------------Main------------------------*/

.main-component{
  padding: 57px 27px;
  color: white;
}

main .title{
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

main ul{
  margin-top: 46px;
}

main ul li{
  line-height: 19px;
  padding-block: 10px;
}

main ul li::marker{
  font-size: 1.5rem;
  color: #61dafb;
}

